.dialog .product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  padding: 10px;
  border: 1px solid rgb(229, 235, 237);
  border-radius: 3px;
  box-shadow: rgba(48, 114, 190, 0) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 1px 3px;
}

.dialog .product .view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dialog .product .selected {
  position: absolute;
  opacity: 0.6;
  right: 10px;
}

.dialog .product .image {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dialog .product img {
  max-width: 250px;
  max-height: 250px;
}

.dialog .product .description {
  margin-top: 10px;
  align-self: start;
}

.dialog .product .description .name {
  font-size: 16px;
}

.dialog .product .description .name + .sku {
  margin-top: 5px;
}

.dialog .product:hover {
  border-color: rgb(195, 207, 213);
  cursor: pointer;
}

.dialog .product.selected {
  border-color: rgb(48, 114, 190);
  box-shadow: rgb(48, 114, 190) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}

.dialog .product.error {
  border-color: rgb(207, 80, 101);
  box-shadow: rgb(207, 80, 101) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}

.dialog .product .options {
  padding: 5px;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog .product .options > * + * {
  margin-top: 8px;
}

.dialog .product .options::-webkit-scrollbar {
  width: 4px;
}

.dialog .product .options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ccc;
}

.dialog .product .options::-webkit-scrollbar-thumb {
  background-color: #2196f3;
}
